.about {
    padding-top: 111px;
}

.about__content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about__item {
    margin-bottom: 180px;
    display: flex;
    align-items: center;
}

.about__item:nth-child(1) .about__text {
    margin-right: 121px;
}

.about__item:nth-child(2) .about__img {
    margin-right: 207px;
}

.about__item:nth-child(3) .about__text {
    margin-right: 160px;
}

.about__item:nth-child(4) .about__img {
    margin-right: 255px;
}

.about__item:nth-child(5) .about__text {
    margin-right: 115px;
}


.about__title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #181818;
}

.about__desc {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #000C2D;
}

.about__btn {
    margin-top: 24px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #2F70FE;
}

.about__icon {
    margin-left: 8px;
}

@media screen and (max-width: 1050px) {
    .about__content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .about__title {
        margin-top: 10px;
    }

    .about__item {
        margin: 50px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about__item:nth-child(odd) {
        display: flex;
        flex-direction: column-reverse;
    }

    .about__item:nth-child(1) .about__text {
        margin-right: 0px;
    }

    .about__item:nth-child(2) .about__img {
        margin-right: 0px;
    }

    .about__item:nth-child(3) .about__text {
        margin-right: 0px;
    }

    .about__item:nth-child(4) .about__img {
        margin-right: 0px;
    }

    .about__item:nth-child(5) .about__text {
        margin-right: 0px;
    }
}

@media screen and (max-width: 425px) {
    .about {
        padding-top: 10px;
    }

    .about__img {
        max-width: 250px;
    }
}